.md ion-buttons {
    .md ion-button {
        --padding-bottom: 0 !important;
        --padding-end: 0 !important;
        --padding-start: 0 !important;
        --padding-top: 0 !important;
    }
}

ion-item {
    --inner-padding-end: 0 !important;
    height: 40px !important;
    display: flex !important;
    align-items: center;
}